@font-face {
  font-family: 'Poppins Regular';
  src: url("/src/assets/Poppins/Poppins-Regular.ttf"); }

@font-face {
  font-family: 'Poppins Light';
  src: url("/src/assets/Poppins/Poppins-Light.ttf"); }

.container {
  display: flex;
  height: 100%;
  width: 100%;
  color: aliceblue;
  font-family: 'Poppins Regular';
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .container-side {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }

.landing-animation {
  height: 100%;
  width: 100%;
  background-color: #0e0c1a;
  position: absolute;
  width: 100%;
  z-index: 100;
  animation: slide-left 1s forwards; }

.overlay {
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: .5; }

.about-box {
  height: 700px;
  width: 700px;
  border: 1px rgba(255, 255, 255, 0.2) solid;
  transform: rotate(37deg);
  position: absolute;
  top: 50px;
  left: -218px;
  transition: opacity 1s; }
  .about-box-side {
    border: none; }
  @media only screen and (max-width: 800px) {
    .about-box {
      transform: rotate(0deg);
      height: 150px;
      width: 600px;
      top: 30px;
      left: 30px;
      position: absolute;
      border: none; } }
  .about-box-container {
    position: absolute;
    top: 80px;
    left: 90px;
    transform: rotate(-37deg);
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 990px) {
      .about-box-container {
        top: 126px;
        left: 152px; } }
    @media only screen and (max-width: 800px) {
      .about-box-container {
        top: 0px;
        left: 0px;
        transform: rotate(0deg);
        position: relative;
        z-index: 100; } }

.menu-boxes {
  transition: opacity 1s; }
  .menu-boxes.fade {
    opacity: 0; }

.resume-box {
  transform: rotate(37deg);
  height: 400px;
  width: 400px;
  position: absolute;
  left: 248px;
  top: -249px;
  border: 1px rgba(255, 255, 255, 0.2) solid; }
  @media only screen and (max-width: 800px) {
    .resume-box {
      transform: rotate(0deg);
      left: 30px;
      top: 200px;
      height: 100px;
      width: 600px;
      border: none;
      border-top: 1px rgba(255, 255, 255, 0.2) solid; } }
  .resume-box-header {
    position: absolute;
    transform: rotate(-37deg);
    border-bottom: 2px rgba(255, 255, 255, 0.3) solid;
    padding-bottom: 5px;
    width: 40px;
    top: 275px;
    left: 189px;
    transition: all .3s; }
    @media only screen and (max-width: 800px) {
      .resume-box-header {
        transform: rotate(0deg);
        top: 34px;
        left: 10px; } }
  .resume-box-resume {
    font-family: inherit;
    transform: rotate(-37deg);
    position: absolute;
    top: 280px;
    left: 200px; }
    @media only screen and (max-width: 800px) {
      .resume-box-resume {
        transform: rotate(0deg);
        top: 28px;
        left: 33px; } }
  .resume-box:hover p {
    top: 318px; }
    @media only screen and (max-width: 800px) {
      .resume-box:hover p {
        top: 40px; } }
  .resume-box-container {
    height: 100%;
    width: 100%;
    position: absolute; }

.portfolio-box {
  height: 400px;
  width: 400px;
  transform: rotate(37deg);
  position: absolute;
  top: -9px;
  left: 567px;
  border: 1px rgba(255, 255, 255, 0.2) solid; }
  @media only screen and (max-width: 800px) {
    .portfolio-box {
      transform: rotate(0deg);
      left: 30px;
      top: 300px;
      height: 100px;
      width: 600px;
      border: none;
      border-top: 1px rgba(255, 255, 255, 0.2) solid; } }
  .portfolio-box:hover p {
    top: 309px; }
    @media only screen and (max-width: 800px) {
      .portfolio-box:hover p {
        top: 40px; } }
  .portfolio-box-header {
    position: absolute;
    transform: rotate(-37deg);
    border-bottom: 2px rgba(255, 255, 255, 0.3) solid;
    padding-bottom: 5px;
    width: 40px;
    top: 267px;
    left: 31px;
    transition: all .3s; }
    @media only screen and (max-width: 800px) {
      .portfolio-box-header {
        transform: rotate(0deg);
        top: 34px;
        left: 10px; } }
  .portfolio-box-portfolio {
    transform: rotate(-37deg);
    text-align: start;
    align-items: flex-end;
    position: absolute;
    top: 260px;
    left: 38px; }
    @media only screen and (max-width: 800px) {
      .portfolio-box-portfolio {
        transform: rotate(0deg);
        left: 30px;
        top: 28px;
        left: 33px; } }

.blog-box {
  height: 400px;
  width: 400px;
  transform: rotate(37deg);
  position: absolute;
  border: 1px rgba(255, 255, 255, 0.2) solid;
  top: 231px;
  left: 886px; }
  @media only screen and (max-width: 990px) {
    .blog-box {
      top: 410px;
      left: 459px; } }
  @media only screen and (max-width: 800px) {
    .blog-box {
      transform: rotate(0deg);
      left: 30px;
      top: 400px;
      height: 100px;
      width: 600px;
      border: none;
      border-top: 1px rgba(255, 255, 255, 0.2) solid; } }
  .blog-box:hover p {
    top: 280px; }
    @media only screen and (max-width: 800px) {
      .blog-box:hover p {
        top: 40px; } }
  .blog-box-header {
    position: absolute;
    transform: rotate(-37deg);
    border-bottom: 2px rgba(255, 255, 255, 0.3) solid;
    padding-bottom: 5px;
    width: 40px;
    top: 234px;
    left: 36px;
    transition: all .3s; }
    @media only screen and (max-width: 800px) {
      .blog-box-header {
        transform: rotate(0deg);
        top: 34px;
        left: 10px; } }
  .blog-box-blog {
    transform: rotate(-37deg);
    position: absolute;
    top: 250px;
    left: 50px; }
    @media only screen and (max-width: 800px) {
      .blog-box-blog {
        transform: rotate(0deg);
        top: 28px;
        left: 33px; } }

.contact-box {
  height: 400px;
  width: 400px;
  transform: rotate(37deg);
  position: absolute;
  border: 1px rgba(255, 255, 255, 0.2) solid;
  top: -88px;
  left: 1126px; }
  @media only screen and (max-width: 1290px) {
    .contact-box {
      top: 410px;
      left: 461px; } }
  @media only screen and (max-width: 990px) {
    .contact-box {
      top: 728px;
      left: 221px; } }
  @media only screen and (max-width: 800px) {
    .contact-box {
      transform: rotate(0deg);
      width: 600px;
      left: 30px;
      top: 500px;
      height: 100px;
      border: none;
      border-top: 1px rgba(255, 255, 255, 0.2) solid; } }
  .contact-box:hover p {
    top: 309px; }
    @media only screen and (max-width: 1290px) {
      .contact-box:hover p {
        top: 142px; } }
    @media only screen and (max-width: 800px) {
      .contact-box:hover p {
        top: 40px; } }
  .contact-box-header {
    position: absolute;
    transform: rotate(-37deg);
    border-bottom: 2px rgba(255, 255, 255, 0.3) solid;
    padding-bottom: 5px;
    width: 40px;
    top: 266px;
    left: 47px;
    transition: all .3s; }
    @media only screen and (max-width: 1290px) {
      .contact-box-header {
        top: 99px;
        left: 47px; } }
    @media only screen and (max-width: 800px) {
      .contact-box-header {
        transform: rotate(0deg);
        top: 34px;
        left: 10px; } }
  .contact-box-contact {
    transform: rotate(-37deg);
    position: absolute;
    top: 268px;
    left: 56px; }
    @media only screen and (max-width: 1290px) {
      .contact-box-contact {
        top: 101px; } }
    @media only screen and (max-width: 800px) {
      .contact-box-contact {
        transform: rotate(0deg);
        top: 28px;
        left: 33px; } }

.box-item {
  transition: all .2s; }
  .box-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transform: scale(0.95) rotate(37deg);
    box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.2); }
    @media only screen and (max-width: 800px) {
      .box-item:hover {
        transform: rotate(0deg); } }
  @media only screen and (max-width: 800px) {
    .box-item {
      transform: rotate(0deg); } }

.side-container {
  background-color: #ffffff;
  color: black;
  opacity: .4;
  width: 50%;
  min-height: 100vh;
  max-height: 100vh;
  position: relative;
  transition: all 1s;
  overflow: scroll !important;
  z-index: -2; }
  .side-container.show {
    opacity: 1;
    z-index: 2; }
  @media only screen and (max-width: 1600px) {
    .side-container {
      width: 70%; } }
  @media only screen and (max-width: 800px) {
    .side-container {
      width: 100%; } }

.nav {
  display: flex;
  align-items: center;
  justify-content: end;
  font-weight: bolder;
  font-size: 18px;
  background-color: darkgray;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 3; }
  .nav-item {
    padding: 10px;
    cursor: pointer;
    position: relative; }

.resume {
  display: flex;
  flex-direction: column;
  margin: 0 6rem;
  color: #3c3c3c;
  animation: display-fade 1s linear forwards; }
  @media only screen and (max-width: 1200px) {
    .resume {
      margin: 0 2rem; } }
  .resume-header {
    display: block;
    font-size: 30px;
    border-bottom: 1px #bdbdbd solid;
    padding: .5rem 0;
    margin: 2rem 0;
    letter-spacing: 2px; }
    @media only screen and (max-width: 1200px) {
      .resume-header {
        font-size: 24px;
        margin-bottom: 1.2rem; } }
  .resume-intro {
    font-size: 24px;
    font-weight: 100;
    font-family: 'Poppins Light';
    letter-spacing: 1px;
    line-height: 40px; }
    @media only screen and (max-width: 1200px) {
      .resume-intro {
        font-size: 20px;
        line-height: 30px; } }
    .resume-intro-detail {
      font-size: 16px;
      font-family: 'Poppins Light';
      padding: 2rem 0;
      border-bottom: 1px #bdbdbd solid;
      line-height: 30px; }
      @media only screen and (max-width: 1200px) {
        .resume-intro-detail {
          font-size: 15px;
          line-height: 25px;
          padding: 1rem 0;
          margin-bottom: 1rem; } }
  .resume-info {
    font-family: 'Poppins Light';
    font-weight: 100;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding: .5rem 0;
    border-bottom: 1px #bdbdbd solid;
    margin-bottom: 5rem; }
    @media only screen and (max-width: 1200px) {
      .resume-info {
        font-size: 15px;
        margin-bottom: 4rem; } }
    @media only screen and (max-width: 800px) {
      .resume-info {
        display: block; } }
    .resume-info-column {
      display: flex;
      flex-direction: column;
      line-height: 2rem; }
    .resume-info-title {
      font-family: 'Poppins Regular';
      font-weight: bolder;
      margin-left: 1rem; }
  .resume-skill {
    display: flex;
    justify-content: start;
    font-size: 18px;
    margin-left: 1rem;
    margin-bottom: 5rem;
    line-height: 2rem; }
    @media only screen and (max-width: 1200px) {
      .resume-skill {
        font-size: 16px;
        margin-bottom: 4rem;
        line-height: 1.5rem; } }
    .resume-skill ul {
      flex-grow: 1;
      font-weight: 800;
      font-family: Poppins Light; }
    .resume-skill ul:nth-child(2) {
      flex-grow: 1; }

.exp {
  padding-left: 3rem;
  border-left: 1px #bdbdbd solid;
  margin-bottom: 5rem; }
  .exp-icon {
    margin-left: -4.5rem;
    margin-top: -.5rem;
    margin-bottom: 2rem;
    background-color: white;
    width: min-content; }
    @media only screen and (max-width: 1200px) {
      .exp-icon {
        margin-bottom: .5rem;
        line-height: 1.5rem; } }
  .exp-line {
    display: flex; }
  .exp-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 1200px) {
      .exp-block {
        margin-bottom: 1rem; } }
    .exp-block div {
      height: 20px; }
    .exp-block-icon {
      margin-left: -58px;
      margin-bottom: -20px;
      background-color: white; }
  .exp-title {
    display: flex;
    font-size: 18px;
    font-family: Poppins Regular;
    font-weight: bolder; }
    @media only screen and (max-width: 1200px) {
      .exp-title {
        font-size: 16px;
        display: flex;
        flex-direction: column; } }
    @media only screen and (max-width: 520px) {
      .exp-title {
        font-size: 16px;
        display: flex;
        flex-direction: column;
        margin-left: -1.5rem; } }
  .exp-company {
    font-family: Poppins Light; }
    @media only screen and (max-width: 1200px) {
      .exp-company {
        display: flex;
        margin-left: -1rem; } }
  .exp-period {
    font-size: 16px;
    color: var(--color-grey-dark-3);
    position: absolute;
    right: 6rem; }
    @media only screen and (max-width: 1200px) {
      .exp-period {
        font-size: 15px; } }
    @media only screen and (max-width: 520px) {
      .exp-period {
        font-size: 14px;
        right: 1rem; } }
    .exp-period::before {
      padding-right: 0.5rem;
      content: '/';
      opacity: .5; }
      @media only screen and (max-width: 520px) {
        .exp-period::before {
          padding-right: .2rem; } }
  .exp-context {
    font-family: Poppins Light;
    font-weight: 100; }

.contact {
  animation: display-fade 1s linear forwards;
  font-family: 'Poppins Regular';
  font-weight: 1000;
  margin: 4rem;
  width: 100%;
  height: 100%; }
  @media only screen and (max-width: 600px) {
    .contact {
      margin: 2rem 1rem; } }
  .contact-header {
    display: block;
    font-size: 30px;
    border-bottom: 1px #bdbdbd solid;
    padding: .5rem 0;
    margin-bottom: 2rem;
    letter-spacing: 2px; }
  .contact-block {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 600px) {
      .contact-block {
        flex-direction: column; } }
    .contact-block-input {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin-right: 2rem; }
      @media only screen and (max-width: 600px) {
        .contact-block-input {
          width: auto;
          margin-bottom: 4rem; } }
    .contact-block-info {
      width: 50%; }
      @media only screen and (max-width: 600px) {
        .contact-block-info {
          width: auto; } }

.text-input {
  margin-bottom: 2rem;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  padding: 0 .8rem;
  font-size: 16px;
  line-height: 18px;
  outline-style: hidden;
  outline: none;
  border-bottom: 1px #bdbdbd solid; }

.input-button {
  color: white;
  background-color: #302f2f;
  padding: 1rem 3rem;
  font-size: 18px;
  cursor: pointer;
  align-self: center;
  transition: all .2s; }
  .input-button:hover {
    box-shadow: 3px 2px 10px 3px rgba(123, 108, 108, 0.589); }

.info-element {
  margin-bottom: 2rem;
  display: flex; }
  .info-element h5 {
    font-family: Poppins Light;
    font-weight: 800;
    font-size: 16px; }
  .info-element p {
    font-family: Poppins Light;
    font-weight: 100;
    color: #959595; }

@keyframes display-fade {
  0% {
    opacity: 0.2; }
  50% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

@keyframes slide-left {
  0% {
    transform: translateX(0) scaleY(1); }
  70% {
    transform: translateX(0%) scaleY(0.01); }
  100% {
    transform: translateX(-100%) scaleY(0); } }

.portfolio-container {
  display: flex;
  flex-direction: column;
  margin: 0 6rem;
  color: #3c3c3c;
  animation: display-fade 1s linear forwards; }
  @media only screen and (max-width: 1200px) {
    .portfolio-container {
      margin: 0 2rem; } }

.portfolio-header {
  display: block;
  font-size: 30px;
  border-bottom: 1px #bdbdbd solid;
  padding: .5rem 0;
  margin: 2rem 0;
  letter-spacing: 2px;
  font-weight: 100; }

.portfolio-item {
  margin: 2rem 2rem; }
  .portfolio-item-header {
    font-size: 20px;
    font-weight: 1000;
    margin-bottom: 1rem; }
  .portfolio-item-info {
    margin: 0 1rem;
    font-size: 15px;
    font-family: 'Poppins Light'; }
  .portfolio-item-images {
    display: flex;
    flex-direction: column; }
    .portfolio-item-images img {
      margin: 1rem auto;
      width: 700px; }

:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --line: 1px solid var(--color-grey-light-2);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06); }

*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.App {
  height: 100vh;
  width: 100wh;
  overflow: hidden;
  position: relative; }
