.resume {

        display: flex;
        flex-direction: column;
        margin: 0 6rem;
        color: rgb(60, 60, 60);

    &-header {
        display: block;

        font-size: 30px;
        border-bottom: 1px rgb(189, 189, 189) solid;
        padding: 2rem 0;
        letter-spacing: 2px;
    }

    &-intro {
        font-size: 20px;
        font-weight: 100;
        font-family: 'Poppins Light';
        letter-spacing: 1px;
        line-height: 40px;

        &-detail {
            font-size: 16px;
            font-family: 'Poppins Light';
            padding: 2rem 0;
            border-bottom: 1px rgb(189, 189, 189) solid;
            line-height: 30px;
        }
    }
}